@model DataAccessLayer.Entities.DanhMuc

@{
    ViewData["Title"] = "Thêm mới";
}

<h4 class="text-info">Thêm mới danh mục</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="text-danger">@ViewData["msgtitleExits"]</p>
            <div class="form-group m-2">
                <label asp-for="TenDanhMuc" class="control-label"></label>
                <input asp-for="TenDanhMuc" class="form-control" />
                <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group form-check m-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group m-2">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-primary">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
