@model DataAccessLayer.Entities.DanhMuc

@{
    ViewData["Title"] = "Cập nhật";
}


<h4 class="text-info">Cập nhật danh mục</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IddanhMuc" />
            <div class="form-group">
                <label asp-for="TenDanhMuc" class="control-label"></label>
                <input asp-for="TenDanhMuc" class="form-control" />
                <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-outline-info" />
                <a asp-action="Index" class="btn btn-outline-primary">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
