@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h4 class="text-danger">@ViewData["Title"]</h4>
    <p class="text-danger">Bạn không có quyền truy cập trang này! Liên hệ admin@news.com</p>
</header>
